@charset 'utf-8';
/*===========================  重置初始样式 start  ===========================*/
html,div,body,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0;padding:0;border:0;outline:0;font-size:100%;line-height:100%;vertical-align:baseline;background:transparent;}
ol,ul,li,ul li{list-style:none;}
:focus {outline:0;}
ins {text-decoration:none;}
table {border-collapse:collapse;border-spacing:0;}
html,body{height:100%;}article,aside,dialog,details,footer,figure,header,hgroup,menu,media,nav,section{display:block;padding:0;margin:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,iframe,fieldset,input,textarea,p,blockquote,th,td,button{padding:0;margin:0;}
fieldset,img,button{border:0;}
body,input,select,textarea{font-family:'微软雅黑 Regular','微软雅黑';color:#333;font-size:12px;}

body{position: relative;background:#fff;margin:0 auto;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
/*===========================  重置初始样式 end  ===========================*/


/*===========================  通用样式 start  ===========================*/
/*---------------------------  常用样式 start  ---------------------------*/
.wh_mar{width:1200px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.wh{width:100%;display:inline-block;}
.none{display:none;}
.ov{overflow:hidden;}
.re{position:relative;}
.just{text-align:justify;text-justify:inter-ideograph;}
.wrap{word-break:break-all;word-wrap:break-word;}
/*---------------------------  常用样式 end  ---------------------------*/

/*---------------------------  边距 start  ---------------------------*/
.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;}.mt25{margin-top:25px;}.mt30{margin-top:30px;}.mt35{margin-top:35px;}.mt40{margin-top:40px;}.mt45{margin-top:45px;}.mt50{margin-top:50px;}
.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}.ml20{margin-left:20px;}.ml25{margin-left:25px;}.ml30{margin-left:30px;}
.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}.mr20{margin-right:20px;}.mr25{margin-right:25px;}.mr30{margin-right:30px;}
.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}.mb25{margin-bottom:25px;}.mb30{margin-bottom:30px;}
/*---------------------------  边距 end  ---------------------------*/

/*---------------------------  填充 start  ---------------------------*/
.pt5{padding-top:5px;}.pt10{padding-top:10px;}.pt15{padding-top:15px;}.pt20{padding-top:20px;}.pt25{padding-top:25px;}.pt30{padding-top:30px;}
.pl5{padding-left:5px;}.pl10{padding-left:10px;}.pl15{padding-left:15px;}.pl20{padding-left:20px;}.pl25{padding-left:25px;}.pl30{padding-left:30px;}
.pr5{padding-right:5px;}.pr10{padding-right:10px;}.pr15{padding-right:15px;}.pr20{padding-right:20px;}.pr25{padding-right:25px;}.pr30{padding-right:30px;}
.pb5{padding-bottom:5px;}.pb10{padding-bottom:10px;}.pb15{padding-bottom:15px;}.pb20{padding-bottom:20px;}.pb25{padding-bottom:25px;}.pb30{padding-bottom:30px;}
/*---------------------------  填充 end  ---------------------------*/

/*---------------------------  icon start  ---------------------------*/
.icon{background:url(../images/icon.png) no-repeat;}
/*---------------------------  icon end  ---------------------------*/
/*---------------------------  代码展示框 start  ---------------------------*/
h1{width: 960px;margin:0 auto 20px;padding-top:20px;font-size: 18px;line-height: 25px;font-weight: normal;}
h2{margin: 25px 0;font-size: 20px;}
.title{font-weight: 700;font-size: 24px;text-align: center;}
.code{width:960px;border: 1px dashed #e2e2e2;padding: 10px 5px;margin: 25px auto;font-size: 16px;background: #eee;}
.code pre{font-family:'微软雅黑 Regular','微软雅黑';line-height: 1.5;}
.code p{line-height: 25px;}
.example{width: 960px;margin: 10px auto 50px;}
.options_table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;border:1px solid #cee1ee;border-left:0}
.options_table thead{border-bottom:1px solid #cee1ee;background-color:#e3eef8}
.options_table tr{line-height:24px;font-size:13px}
.options_table tr:nth-child(2n){background-color:#f0f5f8}
.options_table tr th{color:#555;padding-top:8px;padding-bottom:8px;text-align:left}
.options_table tr td{padding-top:8px;padding-bottom:8px}
.options_table tr td,.options_table tr th{border-left:1px solid #cee1ee;word-break:break-all;word-wrap:break-word;padding-left:10px;font-weight:400}
/*---------------------------  代码展示框 end  ---------------------------*/
/*===========================  通用样式 end  ===========================*/
